@model IEnumerable<ConversorWeb.Models.Moneda> 
@{
    ViewData["Title"] = "Home Page";
}

Son @Model.Count() monedas

La primera moneda es @Model.Take(1).Select(m=>m.Codigo)

<div class="text-center">
   @foreach (var moneda in Model)
    {
        <h2>@moneda.Codigo</h2>
        <h3>@moneda.Nombre</h3>
    }
</div>
